<%- layout("/layouts/boilerplate") -%>
<div class="page-container">
    <div class="row mt-3">
        <div class="col-md-8 offset-md-2">
            <!-- Flex container for action buttons and title -->
            <div class="d-flex justify-content-between align-items-center mb-4">
                <div class="d-flex align-items-center">
                    <!-- Back to Donations with Icon -->
                    <a href="/donations" class="btn btn-back d-inline-flex align-items-center me-3">
                        <i class="fa-solid fa-left-long"></i>
                    </a>
                </div>

                <!-- Title -->


                <!-- Flex container for edit and delete buttons -->
                <% if (currUser && donation.owner && donation.owner.equals(currUser._id)) { %>
                <div class="d-flex align-items-center">
                    <a href="/donations/<%= donation._id %>/edit" class="btn btn-edit me-2">
                        <i class="fa-solid fa-edit"></i>
                    </a>
                    <form action="/donations/<%= donation._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-delete">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </form>
                </div>
                <% } %>
            </div>
            <h1 class="mb-0 flex-grow-1 text-center"><%= donation.title %></h1>
            <p><%= donation.description %></p>

            <form action="/donations/<%= donation._id %>/transactions" method="POST">
                <div class="mb-3">
                    <label for="amount" class="form-label">Donation Amount</label>
                    <input type="number" id="amount" name="transaction[amount]" class="form-control" value="10"
                        required>
                </div>
                <button type="submit" class="btn btn-primary">
                    <i class="fa-solid fa-donate"></i> Donate
                </button>
            </form>

            <hr>
            <br>
            <h3>Transactions</h3>
            <% donation.transactions.forEach(transaction => { %>
            <div class="mb-3 d-flex">
                <p><strong>Donor:</strong> <%= transaction.donor.username %>&nbsp;&nbsp;&nbsp;&nbsp;</p>
                <p><strong>Amount:</strong> <%= transaction.amount %> rupees&nbsp;&nbsp;&nbsp;&nbsp;</p>
                <p><strong>Transaction ID:</strong> <%= transaction._id %></p>
            </div>
            <% }) %>
        </div>
    </div>
</div>