<%- include('layouts/boilerplate') %>

<div class="container mt-5">
    <h2 class="mb-4">My Profile</h2>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 text-center">
                    <img src="<%= user.profilePicture || '/images/default-profile.png' %>"
                        class="img-fluid rounded-circle mb-3" alt="Profile Picture" width="150" height="150" />
                    <h5><%= user.firstName %> <%= user.lastName %></h5>
                    <p class="text-muted">Batch of <%= user.batchYear %></p>
                </div>
                <div class="col-md-8">
                    <h5>About Me</h5>
                    <p><%= user.aboutMe || 'No bio available.' %></p>
                    <h5>Contact Information</h5>
                    <p>Email: <%= user.email %></p>
                    <p>Phone: <%= user.contactNumber || 'N/A' %></p>
                    <h5>Social Media</h5>
                    <p>
                        LinkedIn:
                        <a href="<%= user.linkedin || '#' %>"><%= user.linkedin || 'N/A' %></a>
                    </p>
                    <p>
                        Facebook:
                        <a href="<%= user.facebook || '#' %>"><%= user.facebook || 'N/A' %></a>
                    </p>
                    <p>
                        Instagram:
                        <a href="<%= user.instagram || '#' %>"><%= user.instagram || 'N/A' %></a>
                    </p>
                    <h5>Interests</h5>
                    <ul>
                        <% user.interests.forEach(function(interest) { %>
                        <li><%= interest %></li>
                        <% }); %>
                    </ul>
                    <a href="/users/edit" class="btn btn-primary">Edit Profile</a>
                </div>
            </div>
        </div>
    </div>
</div>